@charset "ISO-8859-1";
.Container{
	width:70%;
	border:1px solid black;
	margin:auto;
	padding:30px;
	font-size: 20px;
}
#myform table tr td input{
	font-size:20px;
}
#myform table tr td{
	margin:10px;
	padding:10px;
}